body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./background.avif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll;
}

header {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 60px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; 
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 14px;
}

nav ul li:first-child {
  margin-left: auto;
}

.scroll-nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.scroll-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scroll-nav li {
  margin-bottom: 10px;
}

.scroll-nav a {
  color: #fff;
  text-decoration: none;
}

.scroll-nav a:hover {
  color: #ccc;
}

section {
  padding: 2em;
  text-align: center;
  margin-top: 60px;
}

h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
}

ul {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #fff;
  margin-bottom: 20px;
}

form {
  background: ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="email"], input[type="password"] {
  background: transparent;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; 
  height: 20px; 
  margin: 10px;
}

textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; 
  height: 20px; 
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px;
}

button[type="submit"]:hover {
  background-color: #444;
}

.pic {
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.head {
  padding: 40px;
  text-align: center;
  
}


@media (max-width: 768px) {
  .scroll-nav {
    display: block;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 1em;
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about h1 {
  margin-right: 20px;
}

#about .pic {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}
.container {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#experience {
  padding: 2em;
  text-align: center;
  margin-top: 60px;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experience-item h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.experience-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

#techstack {
  padding: 2em;
  text-align: center;
  margin-top: 60px;
}

.techstack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.techstack-item {
  color: #fff;
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.techstack-item h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.techstack-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.techstack-item li {
  font-size: 16px;
  margin-bottom: 10px;
}

.imag {
  position: relative;
  top: 10px;
  left: 10px;
}

.imag img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}